<div class="vertical-center">
    <div>

        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

            <mat-form-field class="full-width" color="accent" appearance="outline">
                <mat-label>Old Password</mat-label>
                <input 
                    type="password"
                    matInput 
                    placeholder="old password" 
                    formControlName="oldPassword" 
                />
                <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')">
                    old password is required!
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" color="accent" appearance="outline">
                <mat-label>New Password</mat-label>
                <input 
                    type="password"
                    matInput 
                    placeholder="new password" 
                    formControlName="password" 
                />
                <mat-error *ngIf="changePasswordForm.get('password')?.hasError('required')">
                    a new password is required!
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" color="accent" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input 
                    type="password"
                    matInput 
                    placeholder="confirm new password" 
                    formControlName="confirmPassword" 
                />
                <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
                    you need to confirm your password!
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('passwordsMatch')">
                    does not match password!
                </mat-error>
            </mat-form-field>
            
            <div class="actions">
                <button (click)="closeForm()" type="button" mat-flat-button>CANCLE</button>
                <button [disabled]="changePasswordForm.invalid" mat-raised-button color="accent">CHANGE</button>
            </div>
        </form>
    </div>  
</div>


