<div class="vertical-center">
    <div class="form-container mat-elevation-z5"> 
        <form [formGroup]="confirmForm" (ngSubmit)="sendResetEmail()">

            <p class="center title" style="font-size: x-large;">
                enter your email
            </p>

            <mat-form-field class="full-width" color="accent" appearance="fill">
                <mat-label>Email</mat-label>
                <input 
                    type="email"
                    matInput 
                    placeholder="example@gmail.com" 
                    formControlName="email" 
                />
                <mat-error *ngIf="confirmForm.get('email')?.hasError('required')">
                    email is required!
                </mat-error>
                <mat-error *ngIf="confirmForm.get('email')?.hasError('email')">
                    email should be in right format!
                </mat-error>
                <!-- <mat-error *ngIf="errMessage">  ///// error handiling (not working)
                    email is already confirmed
                </mat-error> -->
            </mat-form-field>
            
            <div class="center margin-top">
                <button [disabled]="confirmForm.invalid" mat-raised-button color="accent">SEND EMAIL</button>
            </div>
        </form>
    </div>  
</div>
