<h1 mat-dialog-title>Report Product</h1>
<div mat-dialog-content>
    <form class="form" [formGroup]="discountForm" (ngSubmit)="setDiscount()">

        <mat-form-field class="full-width" color="accent" appearance="outline">
            <mat-label>Discount Rate</mat-label>
            <input 
                type="number"
                max="100"
                min="0"
                matInput 
                placeholder="Discount Rate" 
                formControlName="discountRate" 
            />
            <mat-error *ngIf="discountForm.get('discountRate')?.hasError('required')">
                discount rate is needed!
            </mat-error>
            <mat-error *ngIf="discountForm.get('discountRate')?.hasError('min') || discountForm.get('discountRate')?.hasError('max')">
                discount rate needs to be between 0 and 100!
            </mat-error>
        </mat-form-field>

        <button [disabled]="discountForm.invalid" mat-button color="accent">Set Discount</button>
    </form>
</div>
