<app-dashboard>
    <div class="container">
        <h2>Manage Products</h2>
        
        <form class="search-form" style="display: flex;" (ngSubmit)="onSearchSubmit()"> 
            <mat-form-field appearance="outline" class="max-width">
                <mat-label>Select Shop</mat-label>
                <mat-select [(ngModel)]="selectedShop" name="shop" (selectionChange)="getProducts()">
                    <mat-option  value="">
                        All
                    </mat-option>
                    
                    <mat-option *ngFor="let option of shops" [value]="option['userName']">
                    {{ option['knownAs'] }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="max-width">
                <mat-label>Select State</mat-label>
                <mat-select [(ngModel)]="productState" name="productState" (selectionChange)="getProducts()">
                    <mat-option value="active">Active</mat-option>
                    <mat-option value="banned">Blocked</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" class="max-width" type="button" (click)="Reset()">Reset</button>

            <mat-form-field appearance="outline" class="max-width">
                <mat-label>Product ID</mat-label>
                <input matInput placeholder="enter product id" type="number" min="1" name="searchProductId" [(ngModel)]="searchProductId">
                <button mat-icon-button matSuffix type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            
        </form>

        <div class="table-wrapper">
            <table *ngIf="products.length > 0"mat-table [dataSource]="products" class="mat-elevation-z8">
            
    
                <ng-container matColumnDef="photo">
                    <th mat-header-cell *matHeaderCellDef>Photo</th>
                    <td mat-cell *matCellDef="let element">
                        <img class="user-image" 
                            src="{{ element.productPhotos.length > 0 ? element.productPhotos[0].url : './assets/no-image.png'}}" 
                            alt="User image">
                    </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.id}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.productName}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Category</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.category}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="subCategory">
                    <th mat-header-cell *matHeaderCellDef>Sub Category</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.subCategory}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>State</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.state}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="sellerName">
                    <th mat-header-cell *matHeaderCellDef>Seller Name</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.sellerName}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.price}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.quantity}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="reportCount">
                    <th mat-header-cell *matHeaderCellDef>Report Count</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.reportCount}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="operations">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <div style="display: flex;">
                            <button (click)="blockToggle(element)" mat-raised-button color="warn" style="flex: 1;">
                                {{getLabelState(element.state)}}
                            </button>
                            <button mat-raised-button (click)="showReports(element.id)" style="flex: 1; background-color: lightblue;">Reports</button>
                        </div>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayOptions"></tr>
                <tr mat-row *matRowDef="let row; columns:displayOptions ;"></tr>
            </table>
        </div>
          
        

        <h4 *ngIf="products.length === 0">No Product Exist</h4>
        <mat-paginator *ngIf="!searchResult"
            [ngStyle]="{'display': products.length > 0 ? 'block' : 'none'}"
            class="paginator mat-elevation-z2"
            #paginator
            (page)="handlePageEvent($event)"
            [length]="pagination?.totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25]"
            aria-label="Select page">
        </mat-paginator>
    </div>
</app-dashboard>


